body {
    font-family: Calibri, serif;
    background: linear-gradient(120deg, #469acd, #a143d9);
    height: 100vh;
    overflow: hidden;
}


.homepage, .more {
    display: inline-block;
    background-color: aqua;
    text-align: center;
    margin-bottom: 10px;
}

.more {
    float: right;
}

.center {
    background-color: aliceblue;
    margin: auto;
    width: 40%;
    padding: 10px;
}

th {
    position: relative;
    background-color: black;
    border-bottom: 5px solid #9EA7AF;
    border-left: 2px solid #343A45;
    color: #EBEBEB;
    font-weight: normal;
}

th, td {
    position: center;
    text-align: center;
    padding: 10px;
    margin: auto;
}

table {
    width: 100%;
}

.nav-bar, .more-filters {

}

tr:nth-child(odd) {
    background-color: #EBEBEB;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

.main-filters, .more-filters {
    position: center;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 100%;
}

.search-bar, .by-price {
    float: right;
}

p {
    margin: auto;
    padding-right: 10px;
}