<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Useful</title>
</head>
<body>

<h2><a href="/useful/colored">Colored Background</a></h2>

<form action="/useful/email" method="get">
  <div>
    <input type="text" name="email" placeholder="Enter your email">
    <button type="submit" th:style="${formatResponse}">Submit</button>
  </div>
  <p th:utext="${emailResponse}"></p>
</form>

<form action="" method="post">
  <h1>Ceasar encoder</h1>
  <div class="inputField">
    <label for="inputField">Enter the word to be encoded/decoded: </label>
    <input type="text" placeholder="Enter a word to encode" id="inputField" name="word" required>
  </div>
  <div class="inputField">
    <label for="number">Enter the Caesar number to shift characters: </label>
    <input type="number" placeholder="Enter a Caesar number" id="number" name="number" required>
  </div>
  <div class="submit" id="buttons">
    <button type="submit" formaction="/useful/encode" name="encoderButton">Encoder</button>
    <button type="submit" formaction="/useful/decode" name="decoderButton">Decoder</button>
  </div>
  <p th:utext="${newWordResult}"></p>
</form>

</body>
</html>