<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">

  <div class="header">
    <h1>My Shop</h1>
  </div>

  <div class="nav-bar">
    <a href="/only-available" class="btn btn-primary">Only Available</a>
    <a href="/cheapest-first" class="btn btn-primary">Cheapest First</a>
    <a href="/contains-nike" class="btn btn-primary">Contains Nike</a>
    <a href="/average-stock" class="btn btn-primary">Average Stock</a>
    <a href="/most-expensive" class="btn btn-primary">Most Expensive Available</a>
  </div>

</div>

<div th:fragment="searchbar" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="search-bar">
    <form th:action="@{/search}" name="shopItem" th:method="POST">
      <input type="text" name="shopItem" placeholder="...something like nike">
      <input type="submit" value="Search">
    </form>
  </div>
</div>