<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<form th:action="@{/createUser}" method="post">

  <h1>Sign Up</h1>
  <label for="userName">Username:</label>
  <input type="text" id="userName" name="userName" required>
  <br>
  <label for="password">Password</label>
  <input type="password" id="password" name="password" required>

  <input type="submit" value="Sign me up!">

</form>

</body>
</html>