<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reddit Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<a th:href="@{/submitPost}">Submit new post</a>

<h3>Logged User: </h3>
<p th:text="${loggedUser}"></p>

<a th:href="@{/logout}">Logout</a>

<h1><strong>Trending Posts</strong></h1>

<table>
  <tbody>
  <tr th:each="post:${posts}">
    <td th:text="${post.getLikes()}"></td>
    <td id="upVoteId" name="upVoteId">
      <a th:href="@{/{id}/increaseVote (id = ${post.id})}"
         th:value="${post.id}"
         th:field="${post.id}">+</a>
    </td>
    <td>
      <a th:href="@{/{id}/decreaseVote (id = ${post.id})}"
         th:value="${post.id}">-</a>
    </td>
    <td>
      <a th:if="${post.title} != null"
         th:href="@{/{id}/postDetail (id=${post.getId()})}"
         th:text="${post.title}"></a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>