<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<h2 th:unless="${invalidLogin}">Please Log in first</h2>

<div th:if="${invalidLogin}">
  <h2><strong style="color: red">Invalid username or password</strong></h2>
  <p>Please try again or <strong>SIGN UP
    <a th:href="@{/createUser}">HERE</a></strong></p>
</div>

<form th:action="@{/login}" method="post">

  <label for="userName">Username</label>
  <input type="text" id="userName" name="userName">

  <label for="password">Password</label>
  <input type="password" id="password" name="password">

  <input type="submit" value="Login">

  <h3>If you do not have an account <strong>SIGN UP
    <a th:href="@{/createUser}">HERE</a></strong></h3>

</form>


</body>
</html>