<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<table>
  <thead>
  <tr>
    <th>Post</th>
    <th>URL</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td th:text="${post.title}"></td>
    <td th:text="${post.url}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>