<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Assignee</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/style.css" rel="stylesheet"/>

</head>
<body>
<header th:replace="~{fragments::header}"></header>

<div class="text-center">
  <div class="card" >
    <div class="card-header">
      <h5>
        <strong>
          Add assignee:
        </strong>
      </h5>
    </div>
    <form th:action="@{/addAssignee}" method="post" th:object="${newAssignee}" style="margin: 15px">
      <p class="card-title">Assignee name:
        <input type="text" th:field="*{name}" required>
      </p>
      <p class="card-title">Assignee E-mail:
        <input type="email" th:field="*{email}" required>
      </p>
      <input type="submit" value="Add new assignee" class="btn btn-primary" style="margin: 10px">
    </form>
  </div>
</div>
</body>
</html>