<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assignee</title>
</head>
<body>

<h1>List of all the Assignees:</h1>
<p th:if="${emptyList == true}"> There are no assignees! You can add assignees <a th:href="@{/addAssignee}">HERE</a></p>
<p th:if="${emptyList != true}"> You can add more assignees <a th:href="@{/addAssignee}">HERE</a></p>

<table th:unless="${emptyList == true}">
  <th>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Email</td>
    </tr>
  </th>

  <tr th:each="assignee:${assignees}" th:object="${assignee}">
    <td th:text="*{id}"></td>
    <td th:text="*{name}"></td>
    <td th:text="*{email}"></td>
    <td>
      <a th:href="@{/{id}/deleteAssignee(id=${assignee.id})}">Delete Assignee</a>
    </td>
    <td>
      <a th:href="@{/{id}/editAssignee(id=${assignee.id})}">Update Assignee details</a>
    </td>
  </tr>
</table>

</body>
</html>