<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
</head>
<body>

<h1>Edit Todo</h1>

<form th:action="@{|/${task.id}/edit|}" method="post" th:object="${task}">
  <label for="todoDescription">Todo Description</label>
  <input type="text" name="task" id="todoDescription" th:field="*{title}">
  Urgent<input type="radio" th:field="*{isUrgent}" th:value=true/>
  Done <input type="radio" th:field="*{isDone}" th:value=true>
  <input type="submit" value="Update task">
  <a th:href="@{/list}">Cancel</a>
  <p>Assign this task to:
    <select name="assignee">
      <option th:value="0"> -- no one -- </option>
      <option th:each="assignee: ${assignees}" th:value="${assignee.id}" th:text="${assignee.name}"></option>
    </select>
    <input type="submit" value="Assign">
  </p>
</form>

</body>
</html>