<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>fragments</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div th:fragment="header"  class="navbar navbar-dark bg-dark" style="width: 800px; margin-top: 10px">
  <a th:href="@{/list}" class="btn btn-primary">Show all tasks</a>
  <a th:href="@{/add}" class="btn btn-primary">Add new todo</a>
  <a th:href="@{/listAssignee}" class="btn btn-primary">List all Assignees</a>
  <a th:href="@{|/list?@{isActive=true}|}" class="btn btn-primary">Yet to be done</a>
  <a th:href="@{|/list?@{isActive=false}|}" class="btn btn-primary">Finished tasks</a>
  <a th:href="@{/searchByDate}" class="btn btn-info">Search by date</a>

  <div class="text-center">
    <form th:action="@{/search}" method="post" class="form-inline" style="margin-top: 10px; margin-bottom: 5px">
      <label for="search" ></label>
      <input type="text" id="search" name="search" placeholder="Search for task here.. " style="padding: 5px; margin-right: 10px">
      <input type="submit" value="Search Task" class="btn btn-success">
    </form>
  </div>
</div>

</body>
</html>