<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link th:href="@{style.css}" rel="stylesheet"/>
</head>
<body>
<header th:replace="~{fragments::header}"></header>
<h1>Todos for today:</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Action</th>
    <th>Urgent</th>
    <th>Done</th>
    <th>Assignee</th>
    <th>Delete task</th>
    <th>Edit task</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="list:${todos}">
    <td th:text="*{list.getId()}"></td>
    <td th:text="*{list.getTitle()}"></td>
    <td th:text="*{list.getIsUrgent()}"></td>
    <td th:text="*{list.getIsDone()}"></td>
    <td>
      <a th:if="${list.assignee} != null"
         th:href="@{/{id}/todosByAssignee (id=${list.assignee.getId()})}"
         th:text="${list.assignee} == null ? '' : ${list.assignee.name}"></a>
    </td>
    <td><a th:href="@{/{id}/delete(id=${list.id})}">delete</a></td>
    <td><a th:href="@{/{id}/edit(id=${list.id})}">edit</a></td>
  </tr>
  </tbody>

</table>

</body>
</html>