<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>

<ul>
  <li><a href="">Information</a></li>
</ul>

<img src="greenfox.png" alt="greenfox">

<p th:object="${myFox}"
   th:text="|This is Mr. *{name}. Currently living on *{food.foodName} and *{drink.drinkName}.
   He knows *{#lists.size(trickList)} trick(s).|"></p>

<h2>Known tricks</h2>
<ul th:each="trick:${myFox.getTrickList()}">
  <li th:text="*{trick.trickName}"></li>
</ul>

</body>
</html>