<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trick Center</title>
</head>
<body>
<div th:replace="fragments/navbar :: links"></div>

<form action="/trickCenter" method="post">

  <label for="tricks">Tricks</label>
  <select name="trick" id="tricks">
    <option th:each="trick:${trickList}" th:value="${trick.trickName}">
      <span th:text="${trick.trickName}"></span>
    </option>
  </select>
  <button type="submit">Add Trick</button></a>


</form>

</body>
</html>