input{
    display: block;
}
body {
    font-family: Calibri, serif;
    background: linear-gradient(120deg, #469acd, #a143d9);
    height: 100vh;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 400px;
    height: 400px;
    padding-left: 60px;
}