<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bank Details</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<table>
  <tr>
    <th>Index</th>
    <th>Rank</th>
    <th>Name</th>
    <th>Balance</th>
    <th>Animal Type</th>
    <th>Character without switch</th>
    <th>Character with switch</th>
  </tr>
  <tr th:each="account, iterationIndex :${accounts}" th:object="${account}">
    <td th:text="${iterationIndex.index}">Index</td>
    <td th:text="*{king} ? 'King' : 'Commoner'"
        th:styleappend="*{king} ? 'font-weight: bold; background-color: #6ce5e5; letter-spacing: 0.2em; font-size: 20px;'">Rank
    </td>
    <td th:text="*{name}">Name</td>
    <td th:text="*{#numbers.formatDecimal(balance, 1, 2) + ' Zebra'}">Balance</td>
    <td th:text="*{animalType}">Animal Type</td>
    <td th:text="*{character} == 'good' ? 'Good One' : 'Bad Guy'">Character without switch</td>
    <td th:switch="*{character}">
      <div th:case="'good'" th:text="'Good One'"></div>
      <div th:case="'bad'" th:text="'Bad Guy'"></div>
    </td>
  </tr>
</table>

<form th:action="@{'/raised'}" th:method="POST">
  <div class="balance">
    <h2>Increase balance for: </h2>
    <label for="accountName"></label>
    <select name="accountName" id="accountName">
      <option th:each="account : ${accounts}" th:value="${account.name}"
              th:text="${account.name}"></option>
    </select>
  </div>
  <input type="submit" value="Raise">
</form>
</body>
</html>